## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

import os
import sys

sys.path.insert(1, os.path.join("..","."))

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(os.path.join("..","Vacation_Search","WeatherPy_vacation.csv"))
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Atuona,PF,78.89,broken clouds,-9.8000,-139.0333,Villa Enata
1,4,Bandarbeyla,SO,84.47,broken clouds,9.4942,50.8122,JABIR HOTEL
2,18,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,42,Honiara,SB,77.50,moderate rain,-9.4333,159.9500,Heritage Park Hotel
4,62,Stephenville,US,79.81,broken clouds,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cedar Hill"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cedar Hill"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Bryan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Patricio"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Stephenville"]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,249,Cedar Hill,US,83.07,clear sky,32.5885,-96.9561,Holiday Inn Express & Suites Dallas Southwest-...

In [7]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,249,Cedar Hill,US,83.07,clear sky,32.5885,-96.9561,Holiday Inn Express & Suites Dallas Southwest-...

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
161,589,Bryan,US,84.47,broken clouds,30.6744,-96.37,Best Western Premier Bryan College Station

In [9]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
54,234,San Patricio,US,88.18,broken clouds,28.017,-97.5169,"Motel 6 Sinton, TX"

In [10]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,62,Stephenville,US,79.81,broken clouds,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat","Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# set figure layout for our future HTML file

figure_layout = {
    'width': '750px',
    'height': '400px',
    'border': '1px solid black',
    'padding': '1px'
}

fig = gmaps.figure(layout=figure_layout)
#fig = gmaps.figure(center=(30.5, -97.5169), zoom_level=5.5,layout=figure_layout)
texas_trip = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(texas_trip)

fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='750px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,249,Cedar Hill,US,83.07,clear sky,32.5885,-96.9561,Holiday Inn Express & Suites Dallas Southwest-...
1,589,Bryan,US,84.47,broken clouds,30.6744,-96.3700,Best Western Premier Bryan College Station
2,234,San Patricio,US,88.18,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,62,Stephenville,US,79.81,broken clouds,32.2207,-98.2023,La Quinta Inn & Suites by Wyndham Stephenville

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
#fig = gmaps.figure(center=(29.617, -97.5169), zoom_level=6)
fig = gmaps.figure(layout=figure_layout)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='750px'))